In [3]:
# Shift + enter
print("Hello World")

Hello World

In [4]:
a = 10

In [5]:
print(a)

10

In [6]:
a = "hello"

In [7]:
print(a)

hello

In [8]:
type(a)

str

In [13]:
n= 9

if n>10:
    print("Number is greater than 10")    
else:
    print("Number is less than 10")
    print("Increase the number")

Number is less than 10
Increase the number

In [19]:
i = 0
while i<10:
    print(i, end=", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [25]:
for e in range(10, 50, 2):
    print(e, end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [29]:
"hello"*5

'hellohellohellohellohello'

In [36]:
def random(a,b):
    return (a+b) , "(a-b)", (a*b)

In [37]:
random(2,3)

(5, '(a-b)', 6)

In [43]:
def pattern(n):
    for i in range(n):
        print("* "*(i+1))

In [44]:
pattern(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

# Data Structures

## LIST

In [45]:
li = [ 3, 7,9, 10, 67, 45]

In [46]:
li[0]

3

In [47]:
li[5]

45

In [48]:
li[-1]

45

In [51]:
# List slicing
# li[ start_idx :  end_idx +1]
li[2 : 5]

[9, 10, 67]

In [53]:
for i in li:
    print(i**2)

9
49
81
100
4489
2025

In [54]:
li.append(100)

In [55]:
li

[3, 7, 9, 10, 67, 45, 100]

In [57]:
li.insert(2, 99)

In [58]:
li

[3, 7, 99, 9, 10, 67, 45, 100]

In [61]:
li.sort(reverse=True)

In [62]:
li

[100, 99, 67, 45, 10, 9, 7, 3]

## Tuples

In [63]:
ti =  (1, 7, 9, 4)

In [64]:
type(ti)

tuple

In [65]:
ti

(1, 7, 9, 4)

In [67]:
ti[0] = 90

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [71]:
food_menu = {
    'samosa' : 10,
    'juice' : [20, 25, 30],
    'fruits' : 30
    
}

In [72]:

food_menu['juice']

[20, 25, 30]